*.iml
.iml
*.iws
*.ipr
lib/
lib/*
out/
out/*
.idea
.xml
.gradle/
build/
compiler/build
compiler/.gradle
compiler/*.iml
compiler/*.xml
compiler/*.iws
graphql.config.json
graphql.schema.json
.DS_Store
*.scratch
site
site/
site/*
